:root{
    --darkGrey:#333333;
    --darkerGrey:#1C1C1C;
    --meidumGrey:#acabab;
    --light1: #FFFAF5;
    --light2: #EFE8E2;
    --light3: #E9E2DD;
 
    --spacingLarge2: calc(1.2vw + 2.4vh + 20px);
    --spacingLarge: calc(1vw + 2vh + 18px);
    --spacingMed: calc(0.8vw + 1.6vh + 16px);
    --spacingSmall: calc(0.4vw + 0.8vh + 8px);
    --spacingSmall2: calc(0.2vw + 0.4vh + 4px);
}

*{
    margin: 0;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1', helvetica, sans-serif;
    color:var(--light2);
    font-size:var(--spacingSmall);
    font-weight:400;
    line-height: 1.1;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    background-color:var(--darkGrey);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1{
    font-size: var(--spacingLarge);
    margin-bottom: var(--spacingLarge2);
}
h2{
    font-size: var(--spacingSmall);
    margin-bottom:var(--spacingSmall2);
}


input[type=radio]{
    visibility: hidden;
    width: 1px;
}

label{
    padding: var(--spacingSmall);
    margin: 8px 5px 0 0;
    border: 1px solid;
    border-color: var(--darkGrey);
    display: inline-block;
    border-radius: 4px;
    color:var(--meidumGrey);
    cursor: pointer;
    transition: border-color 0.2s cubic-bezier(0.22, 1, 0.36, 1);
}
label:hover{
    border-color: var(--darkerGrey) ;
}
input[type=radio].disabled + label{
    color:var(--darkerGrey);
    border-color: var(--darkGrey)!important;
    cursor: auto;
    pointer-events:none;
}
input[type=radio].disabled + label:hover{
    border-color: var(--darkGrey);
    color:var(--darkerGrey);
}
input[type=radio]:checked + label{
    border-color: var(--light3) ;
    color:var(--light3);

}



button{
    padding: var(--spacingSmall) var(--spacingLarge);
    cursor: pointer;
    width: fit-content;
    margin-top: var(--spacingSmall);
    background:none;
    border-radius: 4px;
    color: var(--meidumGrey);
    border: 1px solid rgba(255, 255, 255, 0.082);
}
button#end:hover{
    color: white;
    box-shadow: 0px 1px 0px rgba(214, 76, 76, 0.25), 0px 1px 0px #D64C4C, inset 0px 1px 0px #FF8A8A;
    background: #DB5F5F;
    border: 1px solid #D64C4C;
}
button#end:active, button#end.gameEnd{
    color: #dbcbcb;
    box-shadow: 0px 0px 0px rgba(214, 76, 76, 0.25), 0px 2px 0px #D64C4C;
    background: #b85555;
    border: 1px solid #c54949;
}
button#start{
    color: var(--darkGrey);
    background: #3BB5B5;
    border: 1px solid #4a9595;
    box-shadow: 0px 1px 0px #4a9595, inset 0px 1px 0px #30d1d1;
}
button#start:hover{
    background: #38afaf;
    box-shadow: 0px 1px 0px #4a9595, inset 0px 1px 0px #42f1f1;
    color: var(--darkerGrey);
}
button#start:active{
    background: #2d9b9b;
    box-shadow: 0px 0px 0px #4a9595, inset 0px 2px 0px #269090;
    color: var(--darkerGrey);
}


#wrapper{
    display: flex;
    align-items: center;
    right: 70vw;
    transition: right 1.5s cubic-bezier(0.65, 0, 0.35, 1);
    position: relative;
}
#wrapper.showGrid{
    right: 0;
}

grid, box, row{
    display:flex;
    flex:1 1 auto;
} 
row{
    height: 100%;
}

section{
    display: flex;
    height: 65vh;
    width: 25vw;
    padding-left: 10vw;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: space-between;
    text-align:right;
}

section div{width:100%;}

grid{
    max-height:85vh;
    margin-left:10vw;
    height: 55vw;
    width: 55vw;
    flex-direction: column;
    flex-shrink: 0;
}

box{
    cursor: pointer;
    border-bottom: 1px solid var(--light3);
    border-right: 1px solid var(--light3);
    background-color:var(--light1);
    color:#00000000;
}
    row:nth-child(odd) box:nth-child(even) {
        background: var(--light2);
    }
    row:nth-child(even) box:nth-child(odd) {
        background: var(--light2);   
    } 


token{
    width:100%;
    height:100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

menu{
    margin-left: 10vw;
    width: 70vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10vh 0;
    flex-shrink: 0;
    justify-content: safe center;
    overflow-y: scroll;
    opacity:1; 
    transition: opacity 1.5s cubic-bezier(0.65, 0, 0.35, 1);
}
.showGrid menu{
    opacity:0; 
}

settings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacingLarge) var(--spacingSmall);
    margin-bottom:var(--spacingMed);
}
div.setting{
    width: 30vw;
    min-width: 230px;
    margin-bottom: var(--spacingSmaller);
}

.x token{
    background-image: url('assets/x.png')!important;}
.o token{
    background-image: url('assets/o.png')!important;}
.triangle token{
    background-image: url('assets/triangle.png')!important;}
.square token{
    background-image: url('assets/square.png')!important}

/* Hover filled */
.x token:hover{
    background-image: url('assets/hovx.png')!important;
    cursor: auto;}
.o token:hover{
    background-image: url('assets/hovo.png')!important;
    cursor: auto;}
.triangle token:hover{
    background-image: url('assets/hovtriangle.png')!important;
    cursor: auto;}
.square token:hover{
    background-image: url('assets/hovsquare.png')!important;
    cursor: auto;}

/* Hover outlines */
#hoverx token:hover{
    background-image: url('assets/placex.png');}
#hovero token:hover{
    background-image: url('assets/placeo.png');}
#hovertriangle token:hover{
    background-image: url('assets/placetriangle.png');}
#hoversquare token:hover{
    background-image: url('assets/placesquare.png');}

/* Indicate tokens that formed a win condition*/
box.winningBox.x  token, box.winningBox.x  token:hover{
    background-image: url('assets/winx.png')!important;}
box.winningBox.o  token, box.winningBox.o  token:hover{
    background-image: url('assets/wino.png')!important;}
box.winningBox.triangle  token, box.winningBox.triangle  token:hover{
    background-image: url('assets/wintriangle.png')!important;}
box.winningBox.square  token, box.winningBox.square  token:hover{
    background-image: url('assets/winsquare.png')!important;}


/* turn indicator*/

#turntokens{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-bottom: var(--spacingLarge2);
    gap:var(--spacingSmall2);
}

.turn{
    width: 100%;
    height: var(--spacingLarge2);
    max-width:  var(--spacingLarge2);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.2;
    flex-shrink: 1;
    transition: opacity 0.5s cubic-bezier(0.65, 0, 0.35, 1);
}


span{ color: var(--meidumGrey);}
span.turnPannel{
    margin-right: var(--spacingSmall);
    opacity: 0.8;
}

.turn.x{
    background-image: url('assets/outlinex.png');}
.turn.o{
    background-image: url('assets/outlineo.png');}
.turn.triangle{
    background-image: url('assets/outlinetriangle.png');}
.turn.square{
    background-image: url('assets/outlinesquare.png');}

#hoverx .turn.x, #hovero .turn.o, #hovertriangle .turn.triangle, #hoversquare .turn.square{
    opacity: 1;
}


@media screen and (orientation:portrait) {
    *{
        text-align: center;
    }

    #wrapper{
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        right: 0;
        top:0;
        transition: top 1.5s cubic-bezier(0.65, 0, 0.35, 1);
    }
    section{
        height: auto;
        width: 100%;
        align-items: center;
        padding-left:0;
    }
    grid{
        margin-left: 0;
        height: 85vw;
        max-height: 55vh;
        min-height: 40vh;
        width: 85vw;
    }

    #wrapper.showGrid{
        right: 0;
        top: -90vh;    
    }

    menu{
        width: 100vw;
        height: 100vh;
        margin-left:0;
        align-content: center;
        align-items: center;
        justify-content: normal;
    }


    settings{
        gap: var(--spacingMed) 0;
        margin-bottom:var(--spacingMed);
    }

    div.setting{
        width: 100%;
    }


    div.options{
        display: flex;
        overflow-y: scroll;
        width: fit-content;
        flex-direction: row;
        margin: 0 auto var(--spacingSmall) auto;
        width: 100vw;
        flex-wrap: nowrap;
        justify-content: center;
        padding-bottom: 1px;

    }

    #size .options input:nth-child(1) {
        margin-left: 100px;
    }

    #turnTokens{
        padding:var(--spacingMed) 0;
        justify-content: center;
        gap:var(--spacingSmall2);
        margin-bottom:0;
    }

}
