:root{
    --darkGrey:#333333;
    --darkerGrey:#1C1C1C;
    --light1: #FFFAF5;
    --light2: #EFE8E2;
    --light3: #E9E2DD;
    --meidumGrey:#acabab;
 
    --spacingLarge2: calc(2vw + 3vh + 6px);
    --spacingLarge: calc(0.9vw + 2.5vh + 6px);
    --spacingMed: calc(0.5vw + 2vh + 4px);
    --spacingSmall: calc(0.45vw + 0.8vw + 2px);
    --spacingSmall2: calc(0.35vw + 0.7vh + 2px);


}

*{
    margin: 0;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1', helvetica, sans-serif;
    color:var(--light2);
    font-size:var(--spacingSmall);
    font-weight:400;
    line-height: 1.1;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


body{
    background-color:var(--darkGrey);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1{
    font-size: var(--spacingLarge);
}
h2{
    font-size: var(--spacingSmall);
    margin-bottom:var(--spacingSmall2);
}


input[type=radio]{
    visibility: hidden;
    width: 1px;
}

label{
    padding: 5% 5.8% 4.8% 5.8%;
    margin: 8px 5px 0 0;
    border: 1px solid;
    border-color: var(--darkGrey);
    display: inline-block;
    border-radius: 4px;
    color:var(--meidumGrey);
    cursor: pointer;
    transition: border-color 0.2s cubic-bezier(0.22, 1, 0.36, 1);
}

label:hover{
    border-color: var(--darkerGrey) ;
}


input[type=radio].disabled + label{
    color:var(--darkerGrey);
    border-color: var(--darkGrey)!important;
    cursor: auto;
    pointer-events:none;
}

input[type=radio].disabled + label:hover{
    border-color: var(--darkGrey);
    color:var(--darkerGrey);
}

input[type=radio]:checked + label{
    border-color: var(--light3) ;
    color:var(--light3);

}

.title{
    margin-bottom: var(--spacingLarge2);
}

button#start{
    padding: 14px 60px 13px 60px;
    color: var(--darkGrey);
    cursor: pointer;
    width: fit-content;
    margin-top: var(--spacingSmall);
    background: #3BB5B5;
    margin-top: calc(5vw + 10px);
    border: 1px solid #4a9595;
    box-shadow: 0px 1px 0px #4a9595, inset 0px 1px 0px #30d1d1;
    border-radius: 4px;
}

button#start:hover{
    background: #38afaf;
    box-shadow: 0px 1px 0px #4a9595, inset 0px 1px 0px #42f1f1;
    color: var(--darkerGrey);
}
button#start:active{
    background: #2d9b9b;
    box-shadow: 0px 0px 0px #4a9595, inset 0px 2px 0px #269090;
    color: var(--darkerGrey);
}


#wrapper{
    display: flex;
    align-items: center;
    right: 70vw;
    transition: right 1.5s cubic-bezier(0.65, 0, 0.35, 1);
    position: relative;
}

#wrapper.showGrid{
    right: 0;
}

grid, box, row{
    display:flex;
    flex:1 1 auto;
} 

section{
    width:25vw;
    padding-left:10vw;
    flex-shrink: 0;
}

grid{
    max-height:85vh;
    margin-left:10vw;
    height: 55vw;
    width: 55vw;
    flex-direction: column;
    flex-shrink: 0;

}

box{
    cursor: pointer;
    border-bottom: 1px solid var(--light3);
    border-right: 1px solid var(--light3);
    background-color:var(--light1);
    color:#00000000;
}
    row:nth-child(odd) box:nth-child(even) {
        background: var(--light2);
    }
    row:nth-child(even) box:nth-child(odd) {
        background: var(--light2);   
    } 


row{
}

token{
    width:100%;
    height:100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

menu{
    margin-left: 10vw;
    width: 70vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;
    padding: 10vh 0;
    flex-shrink: 0;
    justify-content: safe center

}

settings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacingLarge) var(--spacingSmall);
}

div.setting{
    width: 30vw;
    min-width: 230px;
    margin-bottom: 5px;
}


.x token{
    background-image: url('assets/x.png')!important;}
.o token{
    background-image: url('assets/o.png')!important;}
.triangle token{
    background-image: url('assets/triangle.png')!important;}
.square token{
    background-image: url('assets/square.png')!important}

/* Hover filled */
.x token:hover{
    background-image: url('assets/hovx.png')!important;
    cursor: auto;}
.o token:hover{
    background-image: url('assets/hovo.png')!important;
    cursor: auto;}
.triangle token:hover{
    background-image: url('assets/hovtriangle.png')!important;
    cursor: auto;}
.square token:hover{
    background-image: url('assets/hovsquare.png')!important;
    cursor: auto;}

/* Hover outlines */
#hoverx token:hover{
    background-image: url('assets/placex.png');}
#hovero token:hover{
    background-image: url('assets/placeo.png');}
#hovertriangle token:hover{
    background-image: url('assets/placetriangle.png');}
#hoversquare token:hover{
    background-image: url('assets/placesquare.png');}

/* Indicate tokens that formed a win condition*/
box.winningBox.x  token, box.winningBox.x  token:hover{
    background-image: url('assets/winx.png')!important;}
box.winningBox.o  token, box.winningBox.o  token:hover{
    background-image: url('assets/wino.png')!important;}
box.winningBox.triangle  token, box.winningBox.triangle  token:hover{
    background-image: url('assets/wintriangle.png')!important;}
box.winningBox.square  token, box.winningBox.square  token:hover{
    background-image: url('assets/winsquare.png')!important;}